body{
    background-image : url(https://wallpapercave.com/wp/wp3210871.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

#container{
  width:70%;
  height:70%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#components{
  height:100%;
  display:flex;
  flex-direction:column;
  background: #00ff41;
  border-radius:15px;
  justify-content:space-between;
  padding:10px;
}

ol {
  background: #ffffff;
  border-radius:15px;
  list-style-type: none;
  overflow-y:auto;
}
li{
  font-size:18pt;
}

form {
  flex-shrink: 0;
  height:8%;
}

#message_input{
  border-radius:5px;
  width: 85%;
  height:100%;
}

#send_button{
  margin-left: 3px;
  width: 14%;
  height:100%;
  border-radius:5px;
  float:right;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size:18pt;
}

#users{
  flex-shrink: 0;
  align-self:center;
  font-size:24pt;
}

#username{
  font-weight: bold;
}